@page "/Home/{PlayerID:guid}"
@using Chess_Final.Generics
@using Chess_Final.Player
@using PlayerManager
<link rel="stylesheet" href="Home.css">
<PageTitle>Triple C</PageTitle>


<h1>Hello, @(PlayerName ?? "World")!</h1>
<h3>@currentPlayer?.PlayerID</h3>

<div class="SelectionContainer">
    @foreach (GameType type in gameTypes)
    {
        <a href="/@type/lobby/{@PlayerID}">
            <div class="GameCard">
                <h1>Play @type</h1>
            </div>
        </a>
    }
</div>

@code
{
    public PlayerManager playerManager = new();
    public Player? currentPlayer { get; set; } = null;
    [Parameter]
    public Guid PlayerID { get; set; }
    string? PlayerName { get; set; } = null;
    List<GameType> gameTypes = [GameType.Checkers, GameType.Chess, GameType.ConnectFour];

    protected override void OnInitialized()
    {
        PlayerName = PlayerManager.GetUsername(PlayerID);

    }

}
