.LobbyContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: solid #5c145c 0.2rem;
  border-radius: 3rem;
  padding: 2rem;
  width: 80vw;
  height: 60vh;
  overflow: scroll;
}

.LobbyCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}

.createButton {
  color: white;
  background-color: #5c145c;
  border-radius: 2rem;
}

.BackToLobbySelection {
  position: absolute;
  top: 1rem;
  left: -40vw;
  padding-inline: 0.5rem;
  font-size: x-large;
  font-weight: bold;
  color: white;
  background-color: #5c145c;
  border-radius: 2rem;
  transition: all 0.2s;
}
.BackToLobbySelection:hover {
  scale: 105%;
  cursor: pointer;
}

.LobbyHeader {
  position: relative;
  display: flex;
}
