.MainContainer {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;
  height: 100vh;
  gap: 0.5rem;
  margin: 2rem;
}
.GameSide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.GameBoard {
  display: grid;
  height: 60%;
  aspect-ratio: 1;
  background-color: #5c145c;
  box-shadow: 0.2rem 0.2rem 4rem black;
  padding: 2rem;
  border-radius: 2rem;
}
.GridCell {
  display: flex;
  align-items: center;
  min-height: 1rem;
  aspect-ratio: 1;
  justify-content: center;
  transition: all 0.25s;
}
.GridCell:hover {
  box-shadow: inset 0rem 0rem 4rem rgb(128, 0, 128);
}
.GridCell:active {
  box-shadow: inset 0rem 0rem 0rem 0.4rem rgb(128, 0, 128);
}

.selected {
  box-shadow: inset 0rem 0rem 0rem 0.4rem rgb(128, 0, 128);
}
.validMove {
  box-shadow: inset 0rem 0rem 0rem 0.4rem rgb(66, 0, 128);
}
.GridCell_Spec:active {
  box-shadow: inset 0rem 0rem 0rem 0.4rem rgb(128, 0, 128);
}

.selected_Spec {
  box-shadow: inset 0rem 0rem 0rem 0.4rem rgb(128, 0, 128);
}
.validMove_Spec {
  box-shadow: inset 0rem 0rem 0rem 0.4rem rgb(66, 0, 128);
}

.PlayerDash {
  width: 75%;
}

.gameOver {
  position: absolute;
  font-size: xx-large;
  color: aliceblue;
  text-shadow: 1rem 1rem 10rem #5c145c;
}

img {
  max-height: 3rem;
}

.P1P {
  color: blue;
}

.P2P {
  color: green;
}

.GameDetails,
.SpecSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rebeccapurple;
}

.rotateBoard {
  transform: rotateX(180deg);
}
